/* client/src/components/OutputPage.css */
.output-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .test-card-canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
  }